.slide-5 {
    .item-content{
       margin: 0 10%;
        .office-shot{
            width: 80%;
            height: 4.5rem;
            margin: 0 auto;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 4px solid #FFF;
            position: absolute;
            top: 30%;
        }
        .office-shot:nth-of-type(1){
            
            background-image: url('../images/office1.png');
            transform: rotate(15deg);
        }
        .office-shot:nth-of-type(2){
            // width: 2.2rem;
            // height: 2rem;
            background-image: url('../images/office4.png');
            transform: rotate(5deg);
        }
        .office-shot:nth-of-type(3){
            // width: 6rem;
            // height: 2.5rem;
            // transform: rotate(18deg);
            background-image: url('../images/office2.png');
        }
        .office-shot:nth-of-type(4){
            // width: 5rem;
            // height: 2rem;
            transform: rotate(330deg);
            background-image: url('../images/office5.png');
        }
        .office-shot:nth-of-type(5){
            // width: 5rem;
            // height: 2rem;
            transform: rotate(350deg);
            background-image: url('../images/office3.png');
        }
    }
}
